footer {
    background-color: var(--light-blue);
    color: var(--ivory);
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    p {
        margin: 0;
    }

    a {
        color: var(--dark);
        transition: color 0.3s ease; 

        &:hover {
            color: var(--ivory); 
        }
    }
}
 